@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

h1 {
  color: #7c795d;
  font-size: 45px;
  font-weight: normal;
  font-family: 'Nanum Gothic Coding', serif;
  line-height: 48px;
  margin: 0;
}

h2 {
  color: #7c795d;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  font-family: 'Nanum Gothic Coding', serif;
  margin: 0 0 24px;
}

h3 {
  color: #7c795d;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  font-family: 'Nanum Gothic Coding', serif;
  margin: 0 0 24px;
}

.subheader {
        font-size: 26px;
        font-weight: 300;
        color: #ffcc66;
        margin: 0 0 24px;
}

p {
  color: #4c4a37;
  font-size: 18px;
  font-family: 'Nanum Gothic Coding', serif;
  line-height: 32px;
  margin: 0 0 24px;
}

a {
  color: #ff9900;
        background: #fff4a3;
  text-decoration: none;
}

a:hover {
  color: #ffcc66;
}